<div class="courses-outer-div">

  <div class="container">
    <h1>Courses</h1>
  </div>

  <div class="container table-container">
    <table class="table-striped">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Number</th> 
        <th>Section</th>
        <th>Action</th>
      </tr>
      <tr ng-repeat="course in allCourses">
        <td></td>
        <td>{{course.name}}</td>
        <td>{{course.number}}</td> 
        <td>{{course.section | uppercase}}</td>
        <td><i class="fa fa-pencil"></i>&nbsp;<i class="fa fa-trash" ng-click="deleteCourseAction(course)"></i></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="text" placeholder="course name" ng-init="" ng-model="course.name"></td>
        <td><input type="text" placeholder="course number" ng-init="" ng-model="course.number"></td>
        <td><input type="text" placeholder="section" ng-init="" ng-model="course.section"></td>
        <td><i class="fa fa-floppy-o" ng-click="saveNewCourseAction(course)"></i>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-plus-circle" ng-click="addNewCourseAction()"></i></td>
      </tr>
    </table>
  </div>
  
  <div class="container buttons-container">
    <!-- <i class="fa fa-plus-circle"></i> -->
    <!-- <button type="button" class="btn btn-primary btn-sm" ng-click="addNewCourseAction()">Add Course</button> -->
  </div>

</div>

