<div class="courses-outer-div">

  <div class="container">
    <h1>Courses</h1>
  </div>

  <div class="container table-container">
    <table class="table-striped">
      <tr>
        <th></th>
        <th><span ng-click="rowName='name'; reverse=!reverse">Name</span></th>
        <th><span ng-click="rowName='number'; reverse=!reverse">Number</span></th> 
        <th><span ng-click="rowName='number'; reverse=!reverse">Section</span></th>
        <th>Action</th>
      </tr>
      <tr ng-repeat="course in allCourses | orderBy:rowName:reverse">
        <td></td>
        <td>
          <span ng-show="!course.isSelected">{{course.name}}</span>
          <input ng-show="course.isSelected" type="text" placeholder="add name" ng-model="course.name">
        </td>
        <td>
          <span ng-show="!course.isSelected">{{course.number}}</span>
          <input ng-show="course.isSelected" type="text" placeholder="add number" ng-init="" ng-model="course.number">
        </td> 
        <td>
          <span ng-show="!course.isSelected">{{course.section | uppercase}}</span>
          <input ng-show="course.isSelected" type="text" placeholder="add section" ng-init="" ng-model="course.section">
        </td>
        <td>
          <span ng-show="!course.isSelected">
            <i class="fa fa-pencil" ng-class="{'disabled': unsavedCourseExists}" ng-click="editCourseAction(course)"></i>&nbsp;<i class="fa fa-trash" ng-class="{'disabled': unsavedCourseExists}" ng-click="deleteCourseAction(course)"></i>
          </span>
          <span ng-show="course.isSelected"><i class="fa fa-floppy-o" ng-click="saveCourseAction(course)"></i>&nbsp;<i class="fa fa-trash" ng-click="stopAddingNewCourseAction()"></i>
          </span>
        </td>
      </tr>
    </table>
  </div>
  
  <div class="container buttons-container">
    <table>
      <tr>
        <td></td>
        <td>
          <span ng-class="{'disabled': unsavedCourseExists}" ng-click="addNewCourseAction()"><i class="fa fa-plus-circle"></i>&nbsp;Add</span>
        </td>
      </tr>
    </table>
  </div>
  
  <br><br><br>
  <button type="button" class="btn btn-primary btn-sm" ng-click="showJsonAction()">Show JSON</button>
</div>

